.header {
    background-color: green;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px, green;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
}



.nav {
    padding: 20px;
}


#photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

#contain1 {
    width: 800px;
    background-color: grey;
    
}

body {
    background-image: url(hankmad.jpg);
}

.footer {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: grey;
}


#listofthings {
    background-color: grey;
    width: 635px;
    text-align: center;
}

#deck {
    text-align: center;
}

#contact {
    background-color: grey;
    padding-bottom: 15px;
}