.header {
    background-color: #8984E2;
    position: fixed;
    margin-left: 30px;
    z-index: 1;
    text-align: center;
}



.nav {
    padding: 20px;
}


#photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

#contain1 {
    width: 100%;
    background-color: #E5B004;
    
}

body {
    background-image: url(hankmad.jpg);
}

.footer {
    text-align: center;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 10px;
    background-color: #E5B004;
}

.footer2 {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: #903F07;
}



#listofthings {
    background-color: #E5B004;
    width: 100%;
    
}

#deck {
    text-align: center;
}

#contact {
    background-color: #E5B004;
    padding-bottom: 15px;
}


.line {
    content: '';
    display: inline-block;
    background: #888;
    
    height: 18px;
    width: 1px;
    vertical-align: bottom;
  }



 #bgc {
      background-color: #E5B004;
      color: #E5B004;
  }

  

  #big {
      width: 100%;
      height: auto;
  }

  #newpic {
      width: 30%;
      height: auto;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
  }

.card-img {
    width: 100%;
    height: auto;
}

#center {
    text-align: center;
}

#rows {
    text-align: center;
}

.random {
    height: 50%;
    width: 50%;
}